@import'./utils/veriables';
@import'./utils/visyaly-hidden';

@import'./base/base';
@import'./base/common.scss';

@import'./components/header';
@import'./components/logo';
@import'./components/nav';
@import'./components/contakts.scss';


@import'./components/hero';
@import'./components/modal';

@import'./components/main__button';



@import'./components/benefits';


@import'./components/what_we_do';


@import'./components/team';
@import'./components/ico__messenger';


@import'./components/clients';


@import'./components/footer';


@import'./components/portfolio';
@import'./components/portfolio__buttons.scss';

@import'./components/mobile-menu';

