.benefits{
    font-size: 14px;
    letter-spacing: 0.03em;
    display: flex;
    @media screen and (max-width:479.5px) {
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width:479.5px) and (max-width:1199.5px){
        flex-wrap:wrap;
        margin: -15px;
        justify-content: space-between;
        flex-direction: row;
    }
    
}
.benefits__card{
    &:not(:last-child){
    @media screen and (max-width:767.5px) {
        margin-bottom: 30px;
    }
    }
    &:not(:last-child){
    @media screen and (min-width:1199.5px) {
        margin-right: 15px;
    }
    }
}
.benefits__card{
    @media screen and (min-width:768px) and (max-width:1199.5px) {
        flex-basis:calc(100% - 2*15px)/2;
        margin: 15px;width: 354px;
    }
    @media screen and (min-width:1200px) {
        width: 270px;
    }
}
.benefits__ico{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
}
.benefits__ico--background{
    background-color:#F5F4FA;
}
.benefits__title{
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.14;
    font-weight: 700;
    @media screen and (max-width:767.5px) {
        text-align: center;
    }
    @media screen and (min-width:768px) {
        text-align: start;
    }
}
.benefits__text{
    line-height: 1.71;
    font-weight: 400;
}