.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:1199.5px) {
        flex-wrap:wrap;
        margin: -15px;
        justify-content: space-between;
    }
}
.clients__link{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    height: 92px;
    align-items: center;
    justify-content: center;  
    color:#afb1b8;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
    color:#2196F3;border: 1px solid #2196F3;
    }
    @media screen and (max-width:767.5px) {
        width: 210px;
        flex-basis:calc(100% - 0*15px)/2;
        margin: 15px;
    }
    @media screen and (min-width:768px) {
        width: 226px;
        flex-basis:calc(100% - 0*15px)/3;
        margin: 15px;
    }
    @media screen and (min-width:1200px) {
        width: 170px;
        &:not(:last-child){
       margin-right: 30px; 
    }
    }

}
.clients svg{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
