header{
    border-bottom: 1px solid #ECECEC;
}
.header__container{
        display: flex;
}
.nav__style,
.contact__up__please{
    @media screen and (max-width:767.5px) {
        display: none;
    }
}