
.grey__block{
    background-image: linear-gradient(#2F303A66,#2F303A66),url(../img/Img.png);
    background-color: #2F303A;
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat;
    padding: 200px 0 ;
    @media (min-device-pixel-ratio: 1), (min-resolution: 196dpi), (min-resolution:2dppx){
        background-image: url(../../img/Img@2x.png);
        
    }
}
.max__width{
    max-width: 1600px;
    margin:0 auto;
}
.big__text{
    color: #FFFFFF;
    text-align: center;
    line-height: 1.36;
    font-size: 44px; 
    text-transform: uppercase;
    width: 696px;
    display: block;
    margin: auto;margin-bottom: 30px;
}
