.ico__messenger{
    display: flex;
    justify-content: center;
    gap:10px;
}
.ico__messenger__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color:#afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    background-color: #2196F3;
    color:#FFFFFF;}
}
.ico__messenger--footer{
    background: rgba(255, 255, 255, 0.1);
     color: #ffffff;
}

