.menu-toggle {
    margin-left: auto;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &:hover,
    &focus {
    background-color: rgba(0, 0, 0, 0.1);
    }
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: #ffffff;
    z-index: 999;
    @media screen and (max-width: 480px) {
    transform: translateX(150%);
    }
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: auto;
  }
  
  .mobile-menu .link {
    display: block;
    padding: 10px;
    &:hover,
    &:focus{
        color: #2196F3;
    }
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
  }
  .mobile-menu li:not(:last-child){
    margin-bottom: 32px;
  }
.mob__t{
  font-size: 34px;
  line-height: 1.17;
  margin-bottom: 32px;
  @media screen and (max-width: 479px) {
    font-size:22px ;
  }
}
.mob__t a{
  color: #2196F3;
}
.mob__m{
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 64px;
  @media screen and (max-width: 479px) {
  font-size:16px ;
  }
  
}
.mob__m a{
  color: #757575;
}
.messendger{
  display: flex;
  gap:10px;
  flex-wrap: wrap;
}
.messendger a{
  font-size: 18px;
  line-height: 104%;
  color: #2196F3;
}
.i{
 color: rgba(33, 33, 33, 0.2);
}
.mob__menu_x{
  position: absolute;
  top:10px;
  right: 15px;
  color: #000000;
}

