.backdrop{
    position: relative;
    z-index: 2;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: #00000033;
    opacity: 1;
    transition: 1s linear;
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal{
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal__esc{
    border: none;background-color: transparent;
    position: absolute;
    padding: 0;
    right: 8px;top: 8px;cursor: pointer;
}
.modal__esc svg{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
       color: #2196F3; 
    }
}
.container__modal{
    padding: 40px;
}
.modal__text__top{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}
.call__back p{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}
.call__back input{
    padding-left: 45px;
    width: 448px;
    height: 40px;
    margin-bottom:10px;
    &:hover,
    &:focus{
        border-color: #2196F3;
    }
}
.call__back div{
    position: relative;
}
.call__back svg{
    position: absolute;
    top: 40%;left: 15px;
}
.call__back textarea{
    width: 448px;
    height: 120px;
    resize: none;
    overflow:auto;
    padding: 12px 16px;
    &:hover,
    &:focus{
        border-color: #2196F3;
    }
}
.call__back input,
.call__back textarea{
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ico{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call__back input:hover+.ico,
.call__back input:focus+.ico{
    color:#2196F3;
}
.coment::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.agree{
    margin-top: 20px;
    margin-bottom: 30px;
}
.agree p{
    color:#757575;
    margin-left: 9px;
}
.agree a{
    color:#2196F3;
    text-decoration: underline;
}
.agree a,
.agree p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.agree input{
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
}
.ico__ok{
    display: inline-block;
    width: 16px;
    height: 15px;
    border:2px solid #000000;
    border-radius: 4px;
    margin-right: 9px;
}
.checkbox:checked+ .ico__ok{
    border-color: transparent;
    background-image: url(../img/icon-check.svg);
    background-size:cover;
    background-origin: border-box ;
    background-repeat: no-repeat;
    background-color: #2196F3;
}
