
.portfolio__net li{
    @media screen and (min-width:480px) {
        width: 450px;
        margin-bottom: 30px;
    }
    @media screen and (min-width:768px) {
        width: 354px;
        flex-basis:calc(100% - 0*15px)/2;
        margin: 15px;
    }
    @media screen and (min-width:1200px) {
        width: 370px;
        flex-basis:calc(100% - 6*15px)/3;
        margin: 15px;
    }
    
}
.portfolio__net{
    
    @media screen and (max-width:768px) {
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }
    @media screen and (min-width:768px){
    display: flex;
    flex-wrap:wrap;
    margin: -15px;
    justify-content: space-between;
    }
}
.portfolio__net p {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.portfolio__net h3{
    margin-bottom: 4px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 2; 
    letter-spacing: 0.06em;
}
.border__not__top{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.box{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    box-sizing: border-box;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: #2196F3E5;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__net a:hover .overlay,
.portfolio__net a:focus .overlay{
    transform: translateY(-294px);
}
.portfolio__net a{
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
