.buttons__portfolio>li{
  @media screen and (max-width:767px) {
    display: inline-block;
    margin-bottom: 15px;
  }
}
.buttons__portfolio{
  margin-bottom: 25px;
  @media screen and (min-width:768px) {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }
    
}
.buttons__portfolio button{
    transition-property: background-color, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
      background-color: #2196F3;
    color:#fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
    }
  }
.buttons__portfolio button{
    background-color:#F5F4FA;
    border: none;
    border-radius: 4px;
    height: 38px;
    padding: 6px 22px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6px;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.buttons__portfolio li:not(:last-child){
    margin-right: 8px;  
}