.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @media screen and (min-width:480px) {
        width: 480px;
    }
    @media screen and (min-width:768px) {
        width:768px;
    }
    @media screen and (min-width:1200px) {
        width:1200px;
    }
}
.section{
    padding: 94px 0;
    @media screen and (min-width:767.5px) {
    padding: 60px 0;
    }
}
.block--center{
    display: block;
    margin: auto;
}
.flex{
    display: flex;
}
.flex--center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex--between{
    display: flex;
    justify-content: space-between;
}